<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="mt-5">Edit Profile</h1>
        <p>Welcome, {{currentUser.firstName}} {{currentUser.lastName}}!</p>

        <form action="/edit?id={{currentUser.id}}" method="POST">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" value="{{currentUser.firstName}}" class="form-control">
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" value="{{currentUser.lastName}}" class="form-control">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" value="{{currentUser.email}}" class="form-control">
          </div>

          
          <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
  </div>
</div>
