<div class='container backimage color'>
  <div class='row'>
    <div class='col-lg-8 offset-lg-2'>
      {{#if branco}}
        <ul class='mt-4'>
          <h3>1ª, 2ª e 3ª Combinações da Shukokai.</h3>
          <li> Kamae, Oi-tsuki Jodan, Sashete</li>
          <li> Kamae, Gyaku-tsuki Chudan, Sashete</li>
          <li>Kamae, Sashete Migi, Maken-tsuki, Sashete </li>
          <h3>Gohon Kumité (aplicação para dois em 5 passos)</h3>
          <li>ambos em yoi: Tori (atacante) coloca-se na posição de kamaet; à
            voz realiza 5 oi-tsuki gedan (zona baixa); Uké (defensor) bloca com
            gedan barai e no último realiza gyaku tsuki com kiai. No final troca
            de sentido (mate). o mesmo exercício mas com todos os blocos
            aprendidos para esta graduação.</li>
          <h3>Katas: (Shiho – significa: “(4) - Quatro pontos cardeais, ou todas
            as direcções”)</h3>
          <li>Shiho Tsuki Shodan</li>
          <li>Shiho Tsuki Nidan</li>
          <li>Shiho Tsuki Sandan</li>
          <li>Juni No Kata Shodan</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if amarelo}}
        <ul class='mt-4'>
          <h3>4ª e 5ª Combinações da Shukokai.</h3>
          <li>Kamae, Mae-geri, Oi-tsuki Jodan; Sashete.</li>
          <li>
            Kamae, Gyaku-tsuki chudan; Sashete, cruza perna contrária e
            Jun-geri, Gyaku-tsuki; Sashete</li>

          <h3>Sambon Kumité (aplicação para dois em 3 passos)</h3>
          <li>ambos em yoi: Tori (atacante) coloca-se na posição de kamae; à voz
            realiza 3 oi-tsuki shudan (zona média); Uké (defensor) bloca com
            udé-uke e no último realiza gyaku-tsuki com kiai. No final troca de
            sentido (mate). o mesmo exercício mas com todos os blocos aprendidos
            para esta graduação</li>
          <h3>Katas:</h3>
          <li>Shiho Tsuki Yondan</li>
          <li>Shiho Tsuki Godan</li>
          <li>Juni No Kata Nidan</li>
          <li>Juni No Kata Sandan</li>
          <li>Pinan Shodan</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if laranja}}
        <ul class='mt-4'>
          <h3>6ª e 7ª Combinações da Shukokai.</h3>
          <br />
          <h3>Sambon Kumité (aplicação para dois num só passo)</h3>
          <li>ambos em yoi: Tori (atacante) coloca-se na posição de kamae; à voz
            realiza 1 ataque combinado; Uké (defensor)bloca e contra-ataca com
            técnicas a serem definidas (com kiai). No final troca de sentido
            (mate).</li>
          <h3>Katas:</h3>
          <li>Roppo-Hijiato</li>
          <li>Pinan Nidan</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if verde}}
        <ul class='mt-4'>
          <h3>6ª e 7ª Combinações da Shukokai.</h3>
          <br />
          <h3>Jyu Kumité (combate livre)</h3>

          <h3>Katas:</h3>
          <li>Empi-rohai</li>
          <li>Pinan Sandan</li>
          <li>Pinan Yodan</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if azul}}
        <ul class='mt-4'>
          <h3>Tsuki Wasa (soco)</h3>
          <li>Yama Tsuki (duplo soco simultâneo ao rosto e corpo)</li>
          <li>Kagi Tsuki (soco lateral paralelo ao diafragma – mov.to da kata
            rohai)</li>
          <br />
          <h3>Geri Wasa (técnica de pernas)</h3>
          <li>Kansetsu-geri (pontapé de esmagamento)</li>
          <li>Ushiro-ura-mawashi (pontapé circular com rotação à retaguarda)</li>
          <li>Kakato-geri (pontapé executado de cima para baixo à cabeça)</li>
          <h3>Katas:</h3>
          <li>Pinan Godan</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if roxo}}
        <ul class='mt-4'>
          <h3>Tsuki Wasa (soco)</h3>
          <li>Yama Tsuki (duplo soco simultâneo ao rosto e corpo)</li>
          <li>Kagi Tsuki (soco lateral paralelo ao diafragma – mov.to da kata
            rohai)</li>
          <br />
          <h3>Geri Wasa (técnica de pernas)</h3>
          <li>Kansetsu-geri (pontapé de esmagamento)</li>
          <li>Ushiro-ura-mawashi (pontapé circular com rotação à retaguarda)</li>
          <li>Kakato-geri (pontapé executado de cima para baixo à cabeça)</li>
          <h3>Katas:</h3>
          <li>Pinan Godan</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if castanho3}}
        <ul class='mt-4'>
          <h3>Katas:</h3>
          <li>Annanko</li>
          <li>Jiin</li>
          <li>Rohai</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if castanho2}}
        <ul class='mt-4'>
          <h3>Katas:</h3>
          <li>Jurukono</li>
          <li>Bassai Dai</li>
          <li>Bassai Sho</li>
          <li>Niseishi</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else if castanho1}}
        <ul class='mt-4'>
          <h3>Katas:</h3>
          <li>Matsukaze (Shintei)</li>
          <li>Shiho Kozokun</li>
          <span>
            Executar o Bunkai das katas (as sequências pedidas pelo Shihan
            Marcelo Azevedo)</span>
        </ul>
      {{else}}
        <h3>Mestre</h3>
      {{/if}}
    </div>
  </div>
</div>