{{#if branco}}
<h1>Kata Cinto Branco</h1>
{{else if amarelo}}
<h1>Kata Cinto Amarelo</h1>
{{else if laranja}}
<h1>Kata Cinto Laranja</h1>
{{else if verde}}
<h1>Kata Cinto Verde</h1>
{{else if azul}}
<h1>Kata Cinto Azul</h1>
{{else if roxo}}
<h1>Kata Cinto Roxo</h1>
{{else if castanho3}}
<h1>Kata Cinto Castanho 3</h1>
{{else if castanho2}}
<h1>Kata Cinto Castanho 2</h1>
{{else if castanho1}}
<h1>Kata Cinto Castanho 1</h1>
{{else}}
<h1>Mestre</h1>
{{/if}}
