<div>
  <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
  <p>
    <strong>Email:</strong>
    {{currentUser.email}}
  </p>
  <p>
    <strong>Belt Level:</strong>
    {{currentUser.belt}}
  </p>

  <p>
    <strong>Bio:</strong>
    {{currentUser.isStudent}}
  </p>
</div>

<a href='/edit' type='button' class='btn btn-link'>Edit</a>