<div>
  <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
  <p>
    <strong>Email:</strong>
    {{currentUser.email}}
  </p>
  <p>
    <strong>Belt Level:</strong>
    {{currentUser.belt}}
  </p>

  <p>
    <strong>Bio:</strong>
    {{currentUser.bio}}
  </p>
</div>