<div class='container imgbackground'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <div class='card mt-5'>
        <div class='card-body cardbackcolor'>
          <h2 class='card-title'>{{user.firstName}}
            {{user.lastName}}</h2>
          <p class='card-text'>
            <strong>Email:</strong>
            {{user.email}}
          </p>
          <p class='card-text'>
            <strong>Data de Nascimento:</strong>
            {{formattedDateOfBirth}}
            ({{age}}
            anos)
          </p>
          <p class='card-text'>
            <strong>Cinturão:</strong>
            {{user.belt}}
          </p>
          <p class='card-text'>
            <strong>Data da última graduação:</strong>
            {{formattedLastGradedDate}}
            ({{remainingTime}})
          </p>
          <p class='card-text'>
            <strong>Dojo:</strong>
            {{user.dojo}}
          </p>
          <p class='card-text'>
            <strong>Morada:</strong>
            {{user.address}}
          </p>
          <p class='card-text'>
            <strong>Contacto telefónico:</strong>
            {{user.contactNumber}}
          </p>
          <p class='card-text'>
            <strong>Contacto de emergência:</strong>
            {{user.emergencyContact}}
          </p>
          <p class='card-text'>
            <strong>Feedback do Sensei:</strong>
            {{user.senseiFeedback}}
          </p>
        </div>
        <div class='card-footer cardbackcolor'>
          <a href='/alunos/{{user.id}}/edit' class='btn btn-link'>Editar informações</a>
        </div>
      </div>
    </div>
  </div>
</div>